<div class="row">
  <div class="col-12" *ngIf="!clicked">
    <button mat-button matTooltip="Add Event"  (click) = "addEvent()" matTooltipPosition = 'right'><mat-icon>add</mat-icon></button>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width">
        <ng-container matColumnDef="event_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.event_name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="start_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.start_date|date:'mediumDate'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="end_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.end_date|date:'mediumDate'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="last_update_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
          <mat-cell *matCellDef="let event"> {{event.last_update_date|date:'medium'}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="eventDetail(row)"></mat-row>
    </table>
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="col-12" *ngIf="clicked">
    <app-event-detail [eventDetail] = "selectedEvent" (edit_event)="editEvent($event)" (delete_event)="deleteEvent($event)" (back)="getAllEvents()"></app-event-detail>
  </div>
</div>