<button routerLink='../../event' matTooltip="Back to Events" matTooltipPosition = 'right' mat-stroked-button><mat-icon>arrow_left</mat-icon></button><br>
<mat-list>
  <mat-list-item><h3>{{eventDetail.event_name}}</h3></mat-list-item>
  <mat-list-item>{{eventDetail.event_remarks}}<br>{{eventDetail.start_date|date}} - {{eventDetail.end_date|date}}</mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<h4>Event Items</h4>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>
        Sample Item
      </mat-panel-title>
      <mat-panel-description>
        sample item description
      </mat-panel-description>
      <mat-panel-description>
        100
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <h3 matSubheader>Parts</h3>
      <mat-list-item> powercord </mat-list-item>
      <mat-list-item> audiojack  </mat-list-item>
     </mat-list>
     Status     
  </mat-expansion-panel>
</mat-accordion>