.full-width{
    width:100%;
}

.activeRoute{
    background-color: aquamarine;
}

.example-container {
    width: 99.99%;
    height: 90%;
} 

.title{
    text-decoration-line: unset;
}

mat-drawer {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 200px !important;
}