<div class="row">
  <div class="col-3">
      <mat-toolbar>
          <mat-toolbar-row>
            <span>Equipments</span>
            <span class="example-spacer"></span>
            <button mat-raised-button matTooltip="Add Item" matTooltipPosition="above" (click)="addItem()"><mat-icon>add</mat-icon></button>
          </mat-toolbar-row>
        </mat-toolbar>
      <mat-nav-list>
        <mat-list-item *ngFor="let equipment of equipments">
            <a matLine (click)="getItemInfo(equipment.item_id)">{{equipment.item_name}}</a>
            <!--<button mat-icon-button (click)="getItemInfo(equipment.item_id)" matTooltip="Item Information" matTooltipPosition = 'below'>
              <mat-icon>info</mat-icon>
            </button>-->
            <button mat-icon-button (click)="editItem(equipment)" matTooltip="Edit Item" matTooltipPosition = 'below'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(equipment.item_id)" matTooltip="Delete Item" matTooltipPosition = 'below'>
              <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
      </mat-nav-list>
  </div>
  <div class="col-9">
    <app-item-info [itemInfo] = "item" (partEvent)="partEvent($event)"></app-item-info>
  </div>
</div>
  
