<div class='row'>
  <div class='col-12'>
    <h4>Dashboard</h4>
    <hr>
  </div>
</div>
<div class='row'>
  <div class='col-3'>
    <mat-card>
      <mat-card-title>1</mat-card-title>
      <mat-card-subtitle>Qty</mat-card-subtitle>
      <mat-card-content>Registered Items</mat-card-content>
      <mat-card-actions>
        <button routerLink='event' mat-stroked-button matTooltip="Event Information" matTooltipPosition = 'below'><mat-icon>info</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class='col-3'>
    <mat-card>
      <mat-card-title>1</mat-card-title>
      <mat-card-subtitle>Qty</mat-card-subtitle>
      <mat-card-content>Items Unavailable</mat-card-content>
      <mat-card-actions>
        <button routerLink='event' mat-stroked-button matTooltip="Event Information" matTooltipPosition = 'below'><mat-icon>info</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class='col-3'>
    <mat-card>
      <mat-card-title>1</mat-card-title>
      <mat-card-subtitle>Qty</mat-card-subtitle>
      <mat-card-content>Available Items</mat-card-content>
      <mat-card-actions>
        <button routerLink='event' mat-stroked-button matTooltip="Event Information" matTooltipPosition = 'below'><mat-icon>info</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class='col-3'>
    <mat-card>
      <mat-card-title>1</mat-card-title>
      <mat-card-subtitle>Qty</mat-card-subtitle>
      <mat-card-content>Events</mat-card-content>
      <mat-card-actions>
        <button routerLink='event' mat-stroked-button matTooltip="Event Information" matTooltipPosition = 'below'><mat-icon>info</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
